.footer{
    background: url(./../images/footer-background.png) ;
    &__wrapper {
        padding: 135px 0 74px;
        @media screen and (max-width:1130px) {
            padding: 135px 20px 74px;
        }
        @media screen and (max-width:576px) {
            padding: 70px 15px 58px;
        }
    }
    &__top {
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 160px;
        @media screen and (max-width:768px) {
            margin-bottom: 60px;
        }

    }
    &__title {
        margin-bottom: 23px;
    }
    &__text {
        color: #333333;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 32px;
        max-width: 570px;
        @media screen and (max-width:360px) {
            max-width: 346px;
            text-align:center;
        }
    }
    &__connection {
        display: flex;
        @media screen and (max-width:768px) {
            flex-direction: column;
            align-items:center;
        }
    }
    &__form-connection {
    }
    &__connection-inner {
        
    }
    &__connection-item {
        width: 370px;
        padding: 14px 16px;
        background: #FFFFFF;
        border: 1px solid #DADADA;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        margin-right: 30px;
        &::placeholder{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #333333;
            opacity: 0.5;
        }
        @media screen and (max-width:768px) {
            margin: 0 0 20px 0;
        }
        @media screen and (max-width:576px) {
            width: 346px;
        }
        @media screen and (max-width:360px) {
            width: 300px;
            margin: 0 14px 16px 14px;
        }
}
    &__btn {
        background: #C86DD7;
    }
    &__line {
        background: #000000;
        opacity: 0.1;
    }
    &__bottom {
        margin: 65px 0 0 0;
        @media screen and (max-width:360px) {
            margin: 55px 0 0 0;
        }
    }
    &__inner{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width:768px) {
            flex-wrap: wrap;
        }
    }
    &__info {
        margin-right: 45px;
        @media screen and (max-width:360px) {
            width: 100%;
            margin:0 0 40px 0;
        }

    }
    &__info-block{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__social-menu {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 14px;
    }
    &__social-link {
        display: block;
        margin-right: 8px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__social-icon {
        fill:#C86DD7;
        height: 32px;
        width: 32px;
        &:hover{
                transform: scale(1.2) rotate(360deg);
                -webkit-transform: scale(1.2) rotate(360deg);
                -moz-transform: scale(1.2) rotate(360deg);
                -ms-transform: scale(1.2) rotate(360deg);
                -o-transform: scale(1.2) rotate(360deg);
                transition: 0.8s;
                -webkit-transition: 0.8s;
                -moz-transition: 0.8s;
                -ms-transition: 0.8s;
                -o-transition: 0.8s;
        }
    }
    &__copyright {
        font-weight: 400;
        font-size: 16px;
        color: #333333;
        opacity: 0.5;
    }
}


.info {
    font-size: 16px;
    line-height: 24 / 16 *100%;
    color: #333333;   
    @media screen and (max-width:768px) {
        margin-bottom: 58px;
    } 
    &__title {
        margin-bottom: 8px;
        font-weight: 600;
        color: #333333;
    }
    &__list {
        list-style-type: none;
    }
    &__item {
        font-weight: 400;
        opacity: 0.5;
    }
}



.info__list li:not(:last-child) {
        margin-bottom: 8px;
}
