.header{
    overflow: hidden;
    @media screen and (max-width:992px) {
        background: #FFFFFF;
    }
    
    &__top{
        padding: 30px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (max-width:992px) {
            background: #FFFFFF;
            box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.0984488);
            padding: 30px 0 30px 0;
        }
        @media screen and (max-width:768px) {
            padding: 28px 0 28px 0;
        }
        @media screen and (max-width:576px) {
            padding: 22px 0 22px 0;
        }
        @media screen and (max-width:360px) {
            padding: 16px 0 16px 0;
        }
    }
    &__login{
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #ffffff;
        font-size: 40px;
        line-height: 48 / 40 *100%;
        @media screen and (max-width:992px) {
            color: #333333;
            font-size: 36px;
        }
        @media screen and (max-width:768px) {
            font-size: 32px;
        }
        @media screen and (max-width:360px) {
            font-size: 24px;
        }
        
    }
    &__navigation{
        max-width: 792px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        position: relative;
        @media screen and (max-width:992px) {
            // display: none;
            position: fixed;
            background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 9999999;
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            padding: 100px 0 0 0;
            transform: translate(0px, -100%);
            -webkit-transform: translate(0px, -100%);
            -moz-transform: translate(0px, -100%);
            -ms-transform: translate(0px, -100%);
            -o-transform: translate(0px, -100%);
            transition: transform 0.8s ease 0s;
            -webkit-transition: transform 0.8s ease 0s;
            -moz-transition: transform 0.8s ease 0s;
            -ms-transition: transform 0.8s ease 0s;
            -o-transition: transform 0.8s ease 0s;
        }
    }
    &__menu{}
    &__burger-btn{
        position: fixed;
        top: 42px;
        right: 50px;
        display: none;
        @media screen and (max-width:992px) {
                display: block;
                z-index: 9999999;
                border:none;
                ._active{
                    display: none; 
                }
            
        }
        @media screen and (max-width:576px) {
            top: 35px;
            right: 39px;
        }
        @media screen and (max-width:360px) {
            top: 25px;
            right: 16px;
        }
    }
    &__top-btn{
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.295063);
        // height: 48px;
        width: 170px;
        border-radius: 24px;
        -webkit-border-radius: 24px;
        -moz-border-radius: 24px;
        -ms-border-radius: 24px;
        -o-border-radius: 24px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 48px;
        color: #FFFFFF;
        text-decoration: none;
        cursor: pointer;
        margin-left: 208px;
        &:hover{
            background-color: #fff;
            color: #1e20ad;
            transition: 1.5s;
            -webkit-transition: 1.5s;
            -moz-transition: 1.5s;
            -ms-transition: 1.5s;
            -o-transition: 1.5s;
        }
        @media screen and (max-width:992px) {
            margin-left: 0;
            font-size: 20px;
        }
    }
}


#close_icon{
    color:#fff;
    background-color:transparent;
    font-size: 40px;
}

.header__navigation_active{
        z-index: 999;
        transform: translate(0px, 0%);
        -webkit-transform: translate(0px, 0%);
        -moz-transform: translate(0px, 0%);
        -ms-transform: translate(0px, 0%);
        -o-transform: translate(0px, 0%);
}
.close_icon_active{
    z-index: 999;
}



