.menu{
    &__list{
        list-style-type: none;
        display: flex;
        &:first-child{
            margin-left: 0;
        }
    }
    &__item{
        margin-left: 30px;
    }
    &__link{
        text-decoration: none;
        color: #ffffff;
        font-weight: 600;
        cursor: pointer;
        font-size: 16px;
        line-height: 24 / 16 *100%;
        &:hover {
            color: #ead0f5;
        }
    }
}