.temporibus {
    background: #3023AE;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 160px 0 212px;
    }
        &__inner-image {
        margin: 0 0 0 212px;
        min-width: 370px;
        min-height: 370pz;
        position: relative;
        opacity: 1;
        z-index: 2;
        // border: 1px solid yellow;
        &::before{
            content:'';
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background:rgba(49, 0, 57, 0.5);
            opacity: 1;
            // background: #FFFFFF;
            box-shadow: 16px 16px 48px rgba(49, 0, 57, 0.5);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
    }
        &__image {
            width: 100%;
            object-fit: cover;
    }
        &__subtitle {
            color:#FFFFFF;
            margin: 3px 0 18px;
    }
        &__title {
            color:#FFFFFF;
            margin-bottom: 23px;
    }
        &__text {
            max-width: 470px;
            color:#FFFFFF;
            margin-bottom: 32px;
    }
        &__btn {
        background:#FFC300;
    }
}



.temporibus__image-photo-1 {
    background-image: url(./../images/oval-1.png) ;
    top: -13px;
    right: 0;
    bottom: 0;
    left: -31px;
    width: 170px;
    height: 170px;
    
}
.temporibus__image-photo-2 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 170px;
    height: 170px;
}
.temporibus__image-photo-3 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.temporibus__image-photo-4 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.temporibus__image-photo-5 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background{
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    z-index: 5;
}