.ullam-corporis{
    &__wrapper{
        display: flex;
        flex-direction: column;
        @media screen and(max-width:768px){
            margin-top: 130px;
        }
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin: 61px 0 55px 0;
        @media screen and(max-width:768px){
            flex-direction: column;
        }
    }
    &__subtitle{
        margin-bottom: 18px;
    }
    
    &__text{
        max-width: 570px;
        margin-top: 49px;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.5;
        @media screen and(max-width:1130px){
            max-width: 505px;
        }
        @media screen and(max-width:992px){
            max-width: 375px;
        }
        @media screen and(max-width:768px){
            max-width: 100%;
        }
    }
    &__menu{
        display: flex;
        @media screen and(max-width:576px){
            flex-wrap: wrap;
        }
    }
    &__link{
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-right: 31px;
        &:hover{
            font-weight: 600;
            opacity: 1;
        }
        @media screen and(max-width:576px){
            margin-right: 50px;
            margin-bottom: 20px;
        }
        @media screen and(max-width:360px){
            margin-right: 28px;
            margin-bottom: 20px;
        }
    }
    &__gallery-works{
        display: flex;
        justify-content: space-between;
        margin: 42px 0 48px 0;
        @media screen and(max-width:1280px){
            gap: 20px;
        }
        @media screen and(max-width:992px){
            gap: 10px;
        }
        @media screen and(max-width:576px){
            gap: 0px;
            flex-wrap: wrap;
        }
    }
    &__gallery-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius:3px    ;
        -webkit-border-radius:3px    ;
        -moz-border-radius:3px    ;
        -ms-border-radius:3px    ;
        -o-border-radius:3px    ;
        
    }

    &__btn{
        background: #C86DD7;
        align-self: center;
        margin-bottom: 60px;
    }
}

.ullam-corporis__link-image{
    position: relative;
    opacity: 1;
    @media screen and(max-width:576px){
        width: 100%;
        margin-bottom: 17px;
    }
}
.ullam-corporis__link-image::before{
    content:'';
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background:rgba(49, 0, 57, 0.5);
    opacity: 0;
    transition: opacity 0.4s ease;
    -webkit-transition: opacity 0.4s ease;
    -moz-transition: opacity 0.4s ease;
    -ms-transition: opacity 0.4s ease;
    -o-transition: opacity 0.4s ease;
}

.ullam-corporis__link-image:hover::before{
    opacity: 1;
}

.ullam-corporis__link-image:hover .ullam-corporis__mask-name1,
.ullam-corporis__link-image:hover .ullam-corporis__mask-name2{
    opacity: 1;
}

.ullam-corporis__mask-name1{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 9px;
    opacity: 0;
    position: absolute;
    display: block;
    transform: translate(32px, -94px);
    -webkit-transform: translate(32px, -94px);
    -moz-transform: translate(32px, -94px);
    -ms-transform: translate(32px, -94px);
    -o-transform: translate(32px, -94px);
    transition: transform 0.8s ease 0s;
    -webkit-transition: transform 0.8s ease 0s;
    -moz-transition: transform 0.8s ease 0s;
    -ms-transition: transform 0.8s ease 0s;
    -o-transition: transform 0.8s ease 0s;
    @media screen and(max-width:768px){
        font-size: 20px;
        line-height: 28px;
    }
    @media screen and(max-width:576px){
        font-size: 24px;
        line-height: 32px;
    }
}

.ullam-corporis__mask-name2{
    font-size: 16px;
    line-height: 24px;
    opacity: 0;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    display: block;
    transform: translate(32px, -52px);
    -webkit-transform: translate(32px, -52px);
    -moz-transform: translate(32px, -52px);
    -ms-transform: translate(32px, -52px);
    -o-transform: translate(32px, -52px);
    transition: transform 1.5s ease 0s;
    -webkit-transition: transform 1.5s ease 0s;
    -moz-transition: transform 1.5s ease 0s;
    -ms-transition: transform 1.5s ease 0s;
    -o-transition: transform 1.5s ease 0s;
    @media screen and(max-width:768px){
        font-size: 14px;
        line-height: 20px;
    }
    @media screen and(max-width:576px){
        font-size: 16px;
        line-height: 24px;
    }
}