.ullam-corporis{
    height: 100vh;
    &__wrapper{
        display: flex;
        flex-direction: column;
    }
    &__top{
        display: flex;
        justify-content: space-between;
        margin: 61px 0 55px 0;
    }
    &__subtitle{
        margin-bottom: 18px;
    }


    &__text{
        max-width: 570px;
        margin-top: 49px;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.5;
    }
    &__menu{
        display: flex;
    }
    &__link{
        text-decoration: none;
        font-size: 16px;
        line-height: 24px;
        color: #333333;
        mix-blend-mode: normal;
        opacity: 0.5;
        margin-right: 31px;
        &:hover{
            font-weight: 600;
            opacity: 1;
        }
    }
    &__gallery-works{
        display: flex;
        justify-content: space-between;
        margin: 42px 0 48px 0;
    }
    &__wrapper-image{
        border-radius:3px    ;
        -webkit-border-radius:3px    ;
        -moz-border-radius:3px    ;
        -ms-border-radius:3px    ;
        -o-border-radius:3px    ;
        &:hover{
            background: #7F7F7F;
            box-shadow: 16px 16px 48px rgba(0, 0, 0, 0.10394);
        }
}
    &__gallery-image{
        width: 100%;
    }
    &__btn{
        background: #C86DD7;
        align-self: center;
        margin-bottom: 60px;
    }
}

.div-picture div {
    width: 31.62393%;
    height: 272px;
    position: relative;
    overflow: hidden;
  }
  
  .div-picture .div-picture__div-opacity {
    position: absolute;
    padding-top: 181px;
    padding-left: 32px;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3200396e;
    opacity: 0;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
  }
  
  .div-picture .div-picture__div-opacity:hover {
    opacity: 1;
  }
  
  .div-picture .div-picture__div-opacity p {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    opacity: 1;
  }
  
  .div-picture .div-picture__div-opacity h6 {
    opacity: 0.5;
    color: #FFFFFF;
  }