*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
}




@import './header';
@import './components/btn';
@import './menu';
@import './main';
@import './corporis-suscipit';
@import './ullam-corporis';
@import './fugiat-quo';
@import './temporibus';
@import './officis';
@import './blog';

.wrapper{
    background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
    overflow: hidden;
    position: relative;
    z-index: 1;
    &::before{
        content:"";
        display: block;
        width: 396px;
        height: 396px;
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        mix-blend-mode: normal;
        opacity: 0.5;
        position: absolute;
        right: -137px;
        bottom: -127px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 5;
        @media screen and (max-width:576px) {
            bottom: -268px;
        }
        @media screen and (max-width:576px) {
            bottom: -196px;
            right: -289px;
        }


        
    }
    &::after{
        content:"";
        display: block;
        width: 78px;
        height: 78px;
        background: linear-gradient(224.72deg, #3023AE -1%, #C86DD7 100.5%);
        mix-blend-mode: normal;
        opacity: 0.5;
        position: absolute;
        right: -39px;
        top: 60px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 1;        
        @media screen and (max-width:992px) {
            width: 70px;
            height: 70px;
            top: 104px;
            right: -27px;
        }
        @media screen and (max-width:768px) {
            width: 62px;
            height: 62px;
            top: 46%;
        }
        @media screen and (max-width:576px) {
            width: 54px;
            height: 54px;
        }
        @media screen and (max-width:360px) {
            width: 46px;
            height: 46px;
        }
    }
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    @media screen and (max-width:1280px) {
        max-width: 1100px;
    }
    @media screen and (max-width:1130px) {
        max-width: 1030px;
    }
    @media screen and (max-width:992px) {
        max-width: 730px;
    }
    @media screen and (max-width:768px) {
        max-width: 545px;
    }
    @media screen and (max-width:576px) {
        max-width: 500px;
    }
    @media screen and (max-width:360px) {
        max-width: 330px;
    }
    @media screen and (max-width:320px) {
        max-width: 300px;
    }
}

.subtitle{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    // color: #333333;
}

.title{
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 64px;
    // color: #333333;
    @media screen and (max-width:1280px) {
        font-size: 52px;
    }
    @media screen and (max-width:992px) {
        font-size: 48px;
    }
    @media screen and (max-width:360px) {
        font-size: 36px;
        line-height: 48px;
    }
    
}